<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS</title>

    <!-- Box Icons  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Styles  -->
    <link rel="shortcut icon" href="img/kxp_fav.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/menu_add.css">
</head>

<body>
    <div class="sidebar close">
        <!-- ========== Logo ============  -->
        <a href="#" class="logo-box">
            <i class='bx bxs-cat'></i>
            <div class="logo-name">POS</div>
        </a>

        <!-- ========== List ============  -->

        <ul class="sidebar-list">

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="/" class="link">
                        <i class='bx bx-home'></i>
                        <span class="name">หน้าหลัก</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="/" class="link submenu-title">หน้าหลัก</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="/dashboard" class="link">
                        <i class='bx bx-grid-alt'></i>
                        <span class="name">แดชบอร์ด</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="/dashboard" class="link submenu-title">แดชบอร์ด</a>
                    <!-- submenu links here  -->
                </div>
            </li>



            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="/employee" class="link">
                        <i class='bx bx-collection'></i>
                        <span class="name">ข้อมูลพนักงาน</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="/employee" class="link submenu-title">ข้อมูลพนักงาน</a>
                    <a href="/employee" class="link">พนักงาน</a>
                    <a href="/user" class="link">ผู้ใช้งาน</a>
                    <a href="/permission" class="link">สิทธิ์ผู้ใช้งาน</a>
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="/menu" class="link">
                        <i class='bx bxs-food-menu'></i>
                        <span class="name">เมนูอาหารและบริการ</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="/menu" class="link submenu-title">เมนูอาหารและบริการ</a>
                    <a href="/menu" class="link">เมนูอาหาร</a>
                    <a href="#" class="link">ตั้งค่าหมวดหมู่</a>
                    <a href="#" class="link">ตั้งค่าหน่วยสินค้า</a>
                    <a href="#" class="link">ตั้งค่าประเภท</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="/table" class="link">
                        <i class='bx bx-table'></i>
                        <span class="name">โต๊ะอาหาร</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="/table" class="link submenu-title">โต๊ะอาหาร</a>
                    <a href="/table" class="link">จัดโต๊ะอาหาร</a>
                    <a href="#" class="link">สั่งเมนู</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="/buying" class="link">
                        <i class='bx bx-cart-download'></i>
                        <span class="name">รายการจัดซื้อและคงคลัง</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="/buying" class="link submenu-title">รายการจัดซื้อและคงคลัง</a>
                    <a href="/buying" class="link">รายการจัดซื้อ</a>
                    <a href="#" class="link">คงคลัง</a>
                    <a href="#" class="link">ตั้งค่าประเภท</a>
                    <a href="#" class="link">ตั้งค่าปริมาณ</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="/promotion" class="link">
                        <i class='bx bxs-dollar-circle'></i>
                        <span class="name">โปรโมชั่น</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="/promotion" class="link submenu-title">โปรโมชั่น</a>
                    <!-- submenu links here  -->
                </div>
            </li>
        </ul>
    </div>

    <!-- ============= Home Section =============== -->
    <section class="home">
        <div class="nav">
            <div class="toggle-sidebar">
                <i class='bx bx-menu'></i>
            </div>
            <nav>
                <div class="nav-content">
                    <div class="profile-details">
                        <img src="../img/chef.png" alt="" class="profile-image">
                        <span class="user-id">ID1234</span>
                    </div>
                    <a href="/login" class="auth-link">เข้าสู่ระบบ</a>
                </div>
            </nav>
        </div>

        <!-- ============= Top Dashboard =============== -->

        <div class="breadcrumbs">
            <a href="/dashboard"> หน้าหลัก</a> > <a href="/menu">เมนูอาหารและบริการ</a> > <span>สร้างเมนูอาหาร</span>
        </div>
        <div class="topic"><a href="javascript:history.back()" style="text-decoration: none;">
                <i class='bx bx-left-arrow-alt'></i></a> สร้างเมนูอาหาร</div>

        <div class="topic">สร้างเมนูอาหาร</div>

        <!-- ============= Center Dashboard =============== -->

        <div class="centered-content">
            <div class="form-container">
                <form action="/create_menu" method="post" id="menuForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <h2>ข้อมูลเมนูอาหาร</h2>
                        <hr class="underline">
                        <div class="flex-container">
                            <!-- Container for specified fields -->
                            <div class="fields-container">
                                <!-- Row 1: ชื่อสินค้า -->
                                <div class="form-row">
                                    <div class="form-container">
                                        <label for="name_product">ชื่อสินค้า</label>
                                        <input type="text" id="name_product" name="name_product" required
                                            aria-label="ชื่อสินค้า">
                                    </div>
                                </div>
                                <!-- Row 2: รหัสสินค้า, ประเภทสินค้า -->
                                <div class="form-row">
                                    <div class="form-container">
                                        <label for="id_menu">รหัสสินค้า</label>
                                        <input type="text" id="id_menu" name="id_menu" value="<%= newProductCode %>" required aria-label="รหัสสินค้า" readonly>
                                    </div>
                                    <div class="form-container">
                                        <label for="settingType">ประเภทสินค้า</label>
                                        <select id="settingType" name="settingType">
                                            <% settingType.forEach(type=> { %>
                                                <option value="<%= type.menu_type %>">
                                                    <%= type.menu_type %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    <div class="form-container">
                                        <label for="settingCategory">หมวดหมู่สินค้า</label>
                                        <select id="settingCategory" name="settingCategory">
                                            <% settingCategory.forEach(category=> { %>
                                                <option value="<%= category.menu_category %>">
                                                    <%= category.menu_category %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <!-- Row 3: ราคา, หน่วยการใช้, สถานะ -->
                                <div class="form-row">
                                    <div class="form-container">
                                        <label for="price">ราคา</label>
                                        <input type="number" id="price" name="price" required aria-label="ราคา">
                                    </div>
                                    <div class="form-container">
                                        <label for="settingUnit">หน่วยสินค้า</label>
                                        <select id="settingUnit" name="settingUnit">
                                            <% settingUnit.forEach(unit=> { %>
                                                <option value="<%= unit.menu_unit %>">
                                                    <%= unit.menu_unit %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    <div class="form-container">
                                        <label for="status">สถานะ</label>
                                        <select id="status" name="status" class="custom-select" required
                                            aria-label="สถานะ">
                                            <option value="" disabled selected>เลือกสถานะ</option>
                                            <option value="ON">เปิดใช้งาน</option>
                                            <option value="OFF">ปิดใช้งาน</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Image Upload -->
                            <div class="form-image-upload">
                                <label for="menu_image" id="label_menu_image">รูปภาพสินค้า</label>
                                <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                                    <i class='bx bxs-arrow-to-bottom'></i>
                                    <span>เลือกรูปภาพของคุณ</span>
                                </div>
                                <!-- Hidden file input -->
                                <input type="file" id="menu_image" name="menu_image" required aria-label="รูปภาพสินค้า"
                                    onchange="showImage(this)" style="display: none;"
                                    accept="image/png, image/jpeg, image/gif">
                                <!-- Custom button that triggers the file input -->
                                <div id="image_container" style="display:none; position: relative;">
                                    <img id="preview">
                                    <button type="button" id="delete_image" onclick="deleteImage()"> X </button>
                                </div>
                            </div>
                        </div>

                        <!-- เพิ่มปริมาณของวัตถุดิบ -->
                        <div class="split-container">
                            <div class="left-section">
                                <h2>ปริมาณของวัตถุดิบ</h2>
                                <hr class="underline">
                                <div class="custom-flex-container">
                                    <div class="custom-fields-container" id="fieldsContainer">
                                        <div class="custom-form-row">
                                            <div class="custom-form-container">
                                                <label for="name_ingredient">ชื่อวัตถุดิบ</label>
                                                <select id="name_ingredient" name="name_ingredient" class="custom-select" required aria-label="ชื่อวัตถุดิบ">
                                                    <option value="" disabled selected>กรุณาเลือกวัตถุดิบ</option>
                                                    <% menuFormbuying.forEach(item => { %>
                                                        <option value="<%= item.name_product %>" data-quantity="<%= item.unit_quantity_all %>" data-unit="<%= item.setting_unit_id %>">
                                                            <%= item.name_product %>
                                                        </option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                            <div class="custom-form-container">
                                                <label for="quantity">ปริมาณ</label>
                                                <input type="number" id="quantity" name="quantity" required aria-label="ปริมาณ">
                                            </div>
                                            <div class="custom-form-container">
                                                <label for="settingUnit">หน่วยการใช้</label>
                                                <input type="text" id="setting_unit_id" name="setting_unit_id" required aria-label="หน่วยการใช้">
                                            </div>
                                            <div class="custom-form-container">
                                                <button type="button" class="addIngredient" aria-label="เพิ่มวัตถุดิบ">
                                                    <i class='bx bx-plus-medical'></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <button type="submit">บันทึก</button>
                            <button type="reset">ยกเลิก</button>
                        </form>
                    </div>

            </div>
        </div>
    </section>

    <script src="../js/index.js"></script>
    <script src="../js/menu_add_image.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const fieldsContainer = document.getElementById('fieldsContainer');
    
            function updateSelectOptions() {
                const selectedIngredients = Array.from(fieldsContainer.querySelectorAll('select[name="name_ingredient"]'))
                    .map(select => select.value)
                    .filter(value => value);
    
                const allOptions = Array.from(document.querySelectorAll('select[name="name_ingredient"] option'));
    
                allOptions.forEach(option => {
                    option.style.display = selectedIngredients.includes(option.value) ? 'none' : '';
                });
    
                const availableOptions = allOptions.filter(option => option.style.display !== 'none' && option.value !== '');
                const addButton = fieldsContainer.querySelector('.addIngredient i.bx-plus-medical');
    
                if (availableOptions.length === 0) {
                    addButton.parentElement.innerHTML = "<i class='bx bx-error' style='font-size: 24px; color: yellow;'></i>";
                    addButton.parentElement.style.backgroundColor = 'yellow'; // Change background color to yellow
                    addButton.parentElement.disabled = true;
                } else {
                    addButton.parentElement.innerHTML = "<i class='bx bx-plus-medical'></i>";
                    addButton.parentElement.style.backgroundColor = ''; // Reset background color
                    addButton.parentElement.style.color = 'white'; // Reset icon color
                    addButton.parentElement.disabled = false;
                }
            }
    
            fieldsContainer.addEventListener('change', function (event) {
                if (event.target.name === 'name_ingredient') {
                    const selectedOption = event.target.options[event.target.selectedIndex];
                    const quantity = selectedOption.getAttribute('data-quantity');
                    const unit = selectedOption.getAttribute('data-unit');
    
                    const currentRow = event.target.closest('.custom-form-row');
                    currentRow.querySelector('input[name="quantity"]').value = quantity;
                    currentRow.querySelector('input[name="setting_unit_id"]').value = unit;
    
                    updateSelectOptions();
                }
            });
    
            document.addEventListener('click', function (event) {
                const target = event.target.closest('.addIngredient, .removeIngredient');
                if (target) {
                    if (target.classList.contains('addIngredient')) {
                        addIngredientHandler(target);
                    } else if (target.classList.contains('removeIngredient')) {
                        removeIngredientHandler(target);
                    }
                }
            });
    
            function addIngredientHandler(button) {
                const currentRow = button.closest('.custom-form-row');
                const nameIngredientSelect = currentRow.querySelector('select[name="name_ingredient"]');
                const nameIngredient = nameIngredientSelect.value;
                const quantity = currentRow.querySelector('input[name="quantity"]').value;
                const settingUnit = currentRow.querySelector('input[name="setting_unit_id"]').value;
    
                if (!nameIngredient) {
                    alert('กรุณาเลือกชื่อวัตถุดิบ');
                    nameIngredientSelect.focus();
                    return;
                }
    
                if (!quantity) {
                    alert('กรุณากรอกปริมาณ');
                    return;
                }
    
                if (!settingUnit) {
                    alert('กรุณาเลือกหน่วยการใช้');
                    return;
                }
    
                // Change the icon of the current button to a delete icon
                button.innerHTML = "<i class='bx bx-minus'></i>";
                button.classList.replace('addIngredient', 'removeIngredient');
    
                // Create a new form row
                const newRow = document.createElement('div');
                newRow.className = 'custom-form-row';
    
                // Create new input fields
                newRow.innerHTML = `
                    <div class="custom-form-container">
                        <label for="name_ingredient">ชื่อวัตถุดิบ</label>
                        <select name="name_ingredient" class="custom-select" required aria-label="ชื่อวัตถุดิบ">
                            <option value="" disabled selected>กรุณาเลือกวัตถุดิบ</option>
                            <% menuFormbuying.forEach(item => { %>
                                <option value="<%= item.name_product %>" data-quantity="<%= item.unit_quantity_all %>" data-unit="<%= item.setting_unit_id %>">
                                    <%= item.name_product %>
                                </option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="custom-form-container">
                        <label for="quantity">ปริมาณ</label>
                        <input type="number" name="quantity" class="custom-input" required aria-label="ปริมาณ">
                    </div>
                    <div class="custom-form-container">
                        <label for="settingUnit">หน่วยการใช้</label>
                        <input type="text" name="setting_unit_id" class="custom-input" required aria-label="หน่วยการใช้">
                    </div>
                    <div class="custom-form-container">
                        <button type="button" class="addIngredient" aria-label="เพิ่มวัตถุดิบ">
                            <i class='bx bx-plus-medical'></i>
                        </button>
                    </div>
                `;
    
                // Append the new row to the fields container
                fieldsContainer.appendChild(newRow);
    
                // Add event listener to the new name_ingredient select element
                newRow.querySelector('select[name="name_ingredient"]').addEventListener('change', function () {
                    const selectedOption = this.options[this.selectedIndex];
                    const quantity = selectedOption.getAttribute('data-quantity');
                    const unit = selectedOption.getAttribute('data-unit');
    
                    newRow.querySelector('input[name="quantity"]').value = quantity;
                    newRow.querySelector('input[name="setting_unit_id"]').value = unit;
    
                    updateSelectOptions();
                });
    
                updateSelectOptions();
            }
    
            function removeIngredientHandler(button) {
                const rowToRemove = button.closest('.custom-form-row');
                rowToRemove.remove();
                updateSelectOptions();
            }
    
            updateSelectOptions();
        });
    </script>

</body>