<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS</title>

    <!-- Box Icons  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Styles  -->
    <link rel="shortcut icon" href="img/kxp_fav.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/menu_edit.css">
</head>

<body>
    <div class="sidebar close">
        <!-- ========== Logo ============  -->
        <a href="#" class="logo-box">
            <i class='bx bxs-cat'></i>
            <div class="logo-name">POS</div>
        </a>

        <!-- ========== List ============  -->

        <ul class="sidebar-list">

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="/" class="link">
                        <i class='bx bx-home'></i>
                        <span class="name">หน้าหลัก</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="/" class="link submenu-title">หน้าหลัก</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="/dashboard" class="link">
                        <i class='bx bx-grid-alt'></i>
                        <span class="name">แดชบอร์ด</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="/dashboard" class="link submenu-title">แดชบอร์ด</a>
                    <!-- submenu links here  -->
                </div>
            </li>



            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="/employee" class="link">
                        <i class='bx bx-collection'></i>
                        <span class="name">ข้อมูลพนักงาน</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="/employee" class="link submenu-title">ข้อมูลพนักงาน</a>
                    <a href="/employee" class="link">พนักงาน</a>
                    <a href="/user" class="link">ผู้ใช้งาน</a>
                    <a href="/permission" class="link">สิทธิ์ผู้ใช้งาน</a>
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="/menu" class="link">
                        <i class='bx bxs-food-menu'></i>
                        <span class="name">เมนูอาหารและบริการ</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="/menu" class="link submenu-title">เมนูอาหารและบริการ</a>
                    <a href="/menu" class="link">เมนูอาหาร</a>
                    <a href="#" class="link">ตั้งค่าหมวดหมู่</a>
                    <a href="#" class="link">ตั้งค่าหน่วยสินค้า</a>
                    <a href="#" class="link">ตั้งค่าประเภท</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="/table" class="link">
                        <i class='bx bx-table'></i>
                        <span class="name">โต๊ะอาหาร</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="/table" class="link submenu-title">โต๊ะอาหาร</a>
                    <a href="/table" class="link">จัดโต๊ะอาหาร</a>
                    <a href="#" class="link">สั่งเมนู</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="/buying" class="link">
                        <i class='bx bx-cart-download'></i>
                        <span class="name">รายการจัดซื้อและคงคลัง</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="/buying" class="link submenu-title">รายการจัดซื้อและคงคลัง</a>
                    <a href="/buying" class="link">รายการจัดซื้อ</a>
                    <a href="#" class="link">คงคลัง</a>
                    <a href="#" class="link">ตั้งค่าประเภท</a>
                    <a href="#" class="link">ตั้งค่าปริมาณ</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="/promotion" class="link">
                        <i class='bx bxs-dollar-circle'></i>
                        <span class="name">โปรโมชั่น</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="/promotion" class="link submenu-title">โปรโมชั่น</a>
                    <!-- submenu links here  -->
                </div>
            </li>
        </ul>
    </div>

    <!-- ============= Home Section =============== -->
    <section class="home">
        <div class="nav">
            <div class="toggle-sidebar">
                <i class='bx bx-menu'></i>
            </div>
            <nav>
                <div class="nav-content">
                    <div class="profile-details">
                        <img src="../img/chef.png" alt="" class="profile-image">
                        <span class="user-id">ID1234</span>
                    </div>
                    <a href="/login" class="auth-link">เข้าสู่ระบบ</a>
                </div>
            </nav>
        </div>

        <!-- ============= Top Dashboard =============== -->

        <div class="breadcrumbs">
            <a href="/dashboard"> หน้าหลัก</a> > <a href="/menu">เมนูอาหารและบริการ</a> > <span>สร้างเมนูอาหาร</span>
        </div>
        <div class="topic"><a href="javascript:history.back()" style="text-decoration: none;">
                <i class='bx bx-left-arrow-alt'></i></a> สร้างเมนูอาหาร</div>

        <div class="topic">แก้ไขเมนูอาหาร</div>

        <!-- ============= Center Dashboard =============== -->

        <div class="centered-content">
            <div class="form-container">
                <form action="/update_menu/<%= menu && menu.id_menu ? menu.id_menu : '' %>" method="post" id="menuForm"
                    enctype="multipart/form-data">
                    <!-- Hidden input for method override if needed -->
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <h2>ข้อมูลเมนูอาหาร</h2>
                        <hr class="underline">
                        <div class="flex-container">
                            <!-- Container for specified fields -->
                            <div class="fields-container">
                                <!-- Row 1: ชื่อสินค้า -->
                                <div class="form-row">
                                    <div class="form-container">
                                        <label for="name_product">ชื่อสินค้า</label>
                                        <input type="text" id="name_product" name="name_product" required
                                            aria-label="ชื่อสินค้า"
                                            value="<%= menu && menu.name_product ? menu.name_product : '' %>">
                                    </div>
                                </div>
                                <!-- Row 2: รหัสสินค้า, ประเภทสินค้า -->
                                <div class="form-row">
                                    <div class="form-container">
                                        <label for="id_menu">รหัสสินค้า</label>
                                        <input type="text" id="id_menu" name="id_menu" required aria-label="รหัสสินค้า"
                                            value="<%= menu && menu.id_menu ? menu.id_menu : '' %>" readonly>
                                    </div>
                                    <div class="form-container">
                                        <label for="settingType">ประเภทสินค้า</label>
                                        <select id="settingType" name="settingType">
                                            <% settingType.forEach(type=> { %>
                                                <option value="" disabled <%=!menu || !menu.menu_type ? 'selected' : ''
                                                    %>
                                                    >กรุณาเลือก</option>

                                                <option value="<%= type.menu_type %>" <%=menu &&
                                                    type.menu_type===menu.settingType ? 'selected' : '' %>>
                                                    <%= type.menu_type %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>

                                    <div class="form-container">
                                        <label for="settingCategory">หมวดหมู่สินค้า</label>
                                        <select id="settingCategory" name="settingCategory">
                                            <% settingCategory.forEach(category=> { %>
                                                <option value="" disabled <%=!menu || !menu.menu_category ? 'selected'
                                                    : '' %>
                                                    >กรุณาเลือก</option>

                                                <option value="<%= category.menu_category %>" <%=menu &&
                                                    category.menu_category===menu.settingCategory ? 'selected' : '' %>>
                                                    <%= category.menu_category %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <!-- Row 3: ราคา, หน่วยการใช้, สถานะ -->

                                <div class="form-row">
                                    <div class="form-container">
                                        <label for="price">ราคา</label>
                                        <input type="number" id="price" name="price" required aria-label="ราคา"
                                            value="<%= menu && menu.price ? menu.price : '' %>">
                                    </div>
                                    <div class="form-container">
                                        <label for="settingUnit">หน่วยสินค้า</label>
                                        <select id="settingUnit" name="settingUnit">
                                            <% settingUnit.forEach(unit=> { %>
                                                <option value="" disabled <%=!menu || !menu.menu_unit ? 'selected' : ''
                                                    %>
                                                    >กรุณาเลือก</option>

                                                <option value="<%= unit.menu_unit %>" <%=menu &&
                                                    unit.menu_unit===menu.settingUnit ? 'selected' : '' %>>
                                                    <%= unit.menu_unit %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    <div class="form-container">
                                        <label for="status">สถานะ</label>
                                        <select id="status" name="status" class="custom-select" required
                                            aria-label="สถานะ">
                                            <option value="" disabled <%=!menu || !menu.status ? 'selected' : '' %>
                                                >เลือกสถานะ</option>
                                            <option value="1" <%=menu && menu.status===1 ? 'selected' : '' %>>เปิดใช้งาน
                                            </option>
                                            <option value="0" <%=menu && menu.status===0 ? 'selected' : '' %>>ปิดใช้งาน
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Image Upload -->
                            <% if (menu.menu_picture) { %>
                                <div class="form-image-upload" style="position: relative;">
                                    <label for="menu_image" id="label_menu_image">รูปภาพสินค้า</label>
                                    <div id="image_container" style="position: relative;">
                                        <img id="preview" src="../img/<%= menu.menu_picture %>" alt="">
                                    </div>
                                    <button id="delete_image" type="button" onclick="deleteImage()"
                                        style="position: absolute; top: 10px; right: 10px; background: none; border: none;">
                                        <i class='bx bx-x' style="color: red; font-size: 24px;"></i>
                                    </button>
                                    <input type="file" id="menu_image" name="menu_image" accept="image/*"
                                        onchange="previewImage(event)">
                                    <input type="hidden" id="old_image" name="old_image"
                                        value="<%= menu.menu_picture %>">
                                    <input type="hidden" id="delete_flag" name="delete_flag" value="false">
                                </div>
                                <% } else { %>
                                    <div class="form-image-upload">
                                        <label for="menu_image" id="label_menu_image">รูปภาพสินค้า</label>
                                        <div id="image_container" class="drop-zone" ondrop="dropHandler(event);"
                                            ondragover="dragOverHandler(event);">
                                            <span>เลือกรูปภาพของคุณ</span>
                                        </div>
                                        <input type="file" id="menu_image" name="menu_image" accept="image/*"
                                            onchange="previewImage(event)" style="display: none;">
                                        <input type="hidden" id="delete_flag" name="delete_flag" value="false">
                                    </div>
                                    <% } %>
                        </div>

                        <!-- เพิ่มปริมาณของวัตถุดิบ -->
                        <div class="split-container">
                            <div class="left-section">
                                <h2>ปริมาณของวัตถุดิบ</h2>
                                <hr class="underline">
                                <div class="custom-flex-container">
                                    <div class="custom-fields-container" id="fieldsContainer">
                                        <% if (ingredients.length === 0) { %>
                                            <div class="custom-form-row">
                                                <div class="custom-form-container">
                                                    <label for="name_ingredient">ชื่อวัตถุดิบ</label>
                                                    <select id="name_ingredient" name="name_ingredient" class="custom-select" aria-label="ชื่อวัตถุดิบ">
                                                        <option value="" disabled selected>กรุณาเลือกวัตถุดิบ</option>
                                                        <% menuFormbuying.forEach(menuItem => { %>
                                                            <option value="<%= menuItem.name_product %>" data-quantity="<%= menuItem.unit_quantity %>" data-unit="<%= menuItem.setting_unit_id %>">
                                                                <%= menuItem.name_product %>
                                                            </option>
                                                        <% }); %>
                                                    </select>
                                                </div>
                                                <div class="custom-form-container">
                                                    <label for="quantity">ปริมาณ</label>
                                                    <input type="number" id="quantity" name="quantity" class="custom-input" aria-label="ปริมาณ">
                                                </div>
                                                <div class="custom-form-container">
                                                    <label for="settingUnit">หน่วยการใช้</label>
                                                    <input type="text" id="setting_unit_id" name="setting_unit_id" class="custom-input" aria-label="หน่วยการใช้">
                                                </div>
                                                <div class="custom-form-container">
                                                    <button type="button" class="ingredientAction" aria-label="เพิ่มวัตถุดิบ">
                                                        <i class='bx bx-plus-medical'></i>
                                                    </button>
                                                </div>
                                            </div>
                                        <% } else { %>
                                            <% ingredients.forEach(item => { %>
                                                <div class="custom-form-row">
                                                    <div class="custom-form-container">
                                                        <label for="name_ingredient">ชื่อวัตถุดิบ</label>
                                                        <select id="name_ingredient" name="name_ingredient" class="custom-select" aria-label="ชื่อวัตถุดิบ">
                                                            <option value="" disabled <%= !item || !item.name_ingredient ? 'selected' : '' %>>กรุณาเลือกวัตถุดิบ</option>
                                                            <% menuFormbuying.forEach(menuItem => { %>
                                                                <option value="<%= menuItem.name_product %>" data-quantity="<%= menuItem.unit_quantity %>" data-unit="<%= menuItem.setting_unit_id %>" <%= item.name_ingredient === menuItem.name_product ? 'selected' : '' %>>
                                                                    <%= menuItem.name_product %>
                                                                </option>
                                                            <% }); %>
                                                        </select>
                                                    </div>
                                                    <div class="custom-form-container">
                                                        <label for="quantity">ปริมาณ</label>
                                                        <input type="number" id="quantity" name="quantity" class="custom-input" value="<%= item.unit_quantity %>" aria-label="ปริมาณ">
                                                    </div>
                                                    <div class="custom-form-container">
                                                        <label for="settingUnit">หน่วยการใช้</label>
                                                        <input type="text" id="setting_unit_id" name="setting_unit_id" class="custom-input" value="<%= item.unit_id %>" aria-label="หน่วยการใช้">
                                                    </div>
                                                    <div class="custom-form-container">
                                                        <button type="button" class="ingredientAction" aria-label="ลบวัตถุดิบ">
                                                            <i class='bx bx-minus'></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            <% }); %>
                                            <div class="custom-form-row">
                                                <div class="custom-form-container">
                                                    <label for="name_ingredient">ชื่อวัตถุดิบ</label>
                                                    <select id="name_ingredient" name="name_ingredient" class="custom-select" aria-label="ชื่อวัตถุดิบ">
                                                        <option value="" disabled selected>กรุณาเลือกวัตถุดิบ</option>
                                                        <% menuFormbuying.forEach(menuItem => { %>
                                                            <option value="<%= menuItem.name_product %>" data-quantity="<%= menuItem.unit_quantity %>" data-unit="<%= menuItem.setting_unit_id %>">
                                                                <%= menuItem.name_product %>
                                                            </option>
                                                        <% }); %>
                                                    </select>
                                                </div>
                                                <div class="custom-form-container">
                                                    <label for="quantity">ปริมาณ</label>
                                                    <input type="number" id="quantity" name="quantity" class="custom-input" aria-label="ปริมาณ">
                                                </div>
                                                <div class="custom-form-container">
                                                    <label for="settingUnit">หน่วยการใช้</label>
                                                    <input type="text" id="setting_unit_id" name="setting_unit_id" class="custom-input" aria-label="หน่วยการใช้">
                                                </div>
                                                <div class="custom-form-container">
                                                    <button type="button" class="ingredientAction" aria-label="เพิ่มวัตถุดิบ">
                                                        <i class='bx bx-plus-medical'></i>
                                                    </button>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>

                            <div class="right-section">
                                <div class="header-container">
                                    <h2 class="header-title">เพิ่มเติม(ไม่บังคับ)</h2>
                                    <% if (Object.keys(groupedMenuOptions).length > 0) { %>
                                        <a href="/edit_menu_options/<%= menu.id_menu %>" id="myBtn"
                                           class="custom-button red-button">แก้ไขหมวดหมู่</a>
                                    <% } %>
                                    <a href="/menu_options/<%= menu.id_menu %>"
                                       class="custom-button">สร้างเมนูเพิ่มเติม</a>
                                </div>
                                <hr class="underline">
                                <% if (Object.keys(groupedMenuOptions).length > 0) { %>
                                    <table class="custom-table">
                                        <thead>
                                            <tr>
                                                <th class="center-align">ชื่อหมวดหมู่เพิ่มเติม</th>
                                                <th class="center-align">ราคา</th>
                                                <th>ชื่อวัตถุดิบ</th>
                                                <th>ปริมาณวัตถุดิบ</th>
                                                <th>หน่วยวัตถุดิบ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% Object.keys(groupedMenuOptions).forEach(name_options => { %>
                                                <% const maxPrice = Math.max(...groupedMenuOptions[name_options].map(option => option.price)); %>
                                                <% groupedMenuOptions[name_options].forEach((option, index) => { %>
                                                    <tr>
                                                        <% if (index === 0) { %>
                                                            <td class="center-align" rowspan="<%= groupedMenuOptions[name_options].length %>">
                                                                <%= name_options %>
                                                            </td>
                                                            <td class="center-align" rowspan="<%= groupedMenuOptions[name_options].length %>">
                                                                <%= maxPrice %>
                                                            </td>
                                                        <% } %>
                                                        <td>
                                                            <%= option.name_ingredient_menu_options %>
                                                        </td>
                                                        <td>
                                                            <%= option.unit_quantity_menu_options %>
                                                        </td>
                                                        <td>
                                                            <%= option.unit_id_menu_options %>
                                                        </td>
                                                    </tr>
                                                <% }); %>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                <% } else { %>
                                    <p>ไม่มีหมวดหมู่เพิ่มเติม</p>
                                <% } %>
                            </div>
                        </div>

                        <button type="submit">บันทึก</button>
                        <button type="reset">ยกเลิก</button>
                </form>
            </div>
        </div>
    </section>

    <script src="../js/index.js"></script>
    <script src="../js/menu_add_image.js"></script>

    <script>
        function deleteImage() {
            var imageContainer = document.getElementById('image_container');
            document.getElementById('preview').src = '';
            document.getElementById('delete_flag').value = 'true';
            document.getElementById('delete_image').style.display = 'none';
            imageContainer.className = 'drop-zone'; // เพิ่ม class drop-zone
            imageContainer.innerHTML = `
                <div ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                    <span>เลือกรูปภาพของคุณ</span>
                </div>
            `;
            document.getElementById('menu_image').value = ''; // Clear the file input
            document.getElementById('delete_flag').value = 'true'; // Set delete flag
            document.getElementById('old_image').value = ''; // Set old_image to empty string
        }

        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('preview');
                if (!output) {
                    document.getElementById('image_container').innerHTML = `
                        <img id="preview" src="${reader.result}" alt="">
                    `;
                } else {
                    output.src = reader.result;
                }
                document.getElementById('delete_flag').value = 'false'; // Reset delete flag
                document.getElementById('delete_image').style.display = 'block'; // Show delete icon
            };
            reader.readAsDataURL(event.target.files[0]);
        }

        function dropHandler(event) {
            event.preventDefault();
            var files = event.dataTransfer.files;
            if (files.length > 0) {
                document.getElementById('menu_image').files = files;
                previewImage({ target: { files: files } });
            }
        }

        function dragOverHandler(event) {
            event.preventDefault();
        }

        document.getElementById('image_container').addEventListener('click', function () {
            document.getElementById('menu_image').click();
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const fieldsContainer = document.getElementById('fieldsContainer');

            function updateSelectOptions() {
                const selectedIngredients = Array.from(fieldsContainer.querySelectorAll('select[name="name_ingredient"]'))
                    .map(select => select.value)
                    .filter(value => value);

                const allOptions = Array.from(document.querySelectorAll('select[name="name_ingredient"] option'));

                allOptions.forEach(option => {
                    option.style.display = selectedIngredients.includes(option.value) ? 'none' : '';
                });

                const availableOptions = allOptions.filter(option => option.style.display !== 'none' && option.value !== '');
                const addButton = fieldsContainer.querySelector('.ingredientAction i.bx-plus-medical');

                if (availableOptions.length === 0) {
                    addButton.parentElement.innerHTML = "<i class='bx bx-error' style='font-size: 24px; color: yellow;'></i>";
                    addButton.parentElement.style.backgroundColor = 'yellow'; // เพิ่มการเปลี่ยนสีพื้นหลังเป็นสีเหลือง
                    addButton.parentElement.disabled = true;
                } else {
                    addButton.parentElement.innerHTML = "<i class='bx bx-plus-medical'></i>";
                    addButton.parentElement.style.backgroundColor = ''; // รีเซ็ตสีพื้นหลัง
                    addButton.parentElement.style.color = 'white'; // รีเซ็ตสีไอคอน
                    addButton.parentElement.disabled = false;
                }
            }

            fieldsContainer.addEventListener('change', function (event) {
                if (event.target.name === 'name_ingredient') {
                    const selectedOption = event.target.options[event.target.selectedIndex];
                    const quantity = selectedOption.getAttribute('data-quantity');
                    const unit = selectedOption.getAttribute('data-unit');

                    const currentRow = event.target.closest('.custom-form-row');
                    currentRow.querySelector('input[name="quantity"]').value = quantity;
                    currentRow.querySelector('input[name="setting_unit_id"]').value = unit;

                    updateSelectOptions();
                }
            });

            document.addEventListener('click', function (event) {
                const target = event.target.closest('.ingredientAction');
                if (target) {
                    if (target.querySelector('i').classList.contains('bx-plus-medical')) {
                        addIngredientHandler(target);
                    } else if (target.querySelector('i').classList.contains('bx-minus')) {
                        removeIngredientHandler(target);
                    }
                }
            });

            function addIngredientHandler(button) {
                const currentRow = button.closest('.custom-form-row');
                const nameIngredientSelect = currentRow.querySelector('select[name="name_ingredient"]');
                const nameIngredient = nameIngredientSelect.value;
                const quantity = currentRow.querySelector('input[name="quantity"]').value;
                const settingUnit = currentRow.querySelector('input[name="setting_unit_id"]').value;

                if (!nameIngredient) {
                    alert('กรุณาเลือกชื่อวัตถุดิบ');
                    nameIngredientSelect.focus();
                    return;
                }

                if (!quantity) {
                    alert('กรุณากรอกปริมาณ');
                    return;
                }

                if (!settingUnit) {
                    alert('กรุณาเลือกหน่วยการใช้');
                    return;
                }

                button.innerHTML = "<i class='bx bx-minus'></i>";
                button.setAttribute('aria-label', 'ลบวัตถุดิบ');

                const newRow = document.createElement('div');
                newRow.className = 'custom-form-row';

                newRow.innerHTML = `
                <div class="custom-form-container">
                    <label for="name_ingredient">ชื่อวัตถุดิบ</label>
                    <select name="name_ingredient" class="custom-select" required aria-label="ชื่อวัตถุดิบ">
                        <option value="" disabled selected>กรุณาเลือกวัตถุดิบ</option>
                        <% menuFormbuying.forEach(item => { %>
                            <option value="<%= item.name_product %>" data-quantity="<%= item.unit_quantity %>" data-unit="<%= item.setting_unit_id %>">
                                <%= item.name_product %>
                            </option>
                        <% }); %>
                    </select>
                </div>
                <div class="custom-form-container">
                    <label for="quantity">ปริมาณ</label>
                    <input type="number" name="quantity" class="custom-input" required aria-label="ปริมาณ">
                </div>
                <div class="custom-form-container">
                    <label for="settingUnit">หน่วยการใช้</label>
                    <input type="text" name="setting_unit_id" class="custom-input" required aria-label="หน่วยการใช้">
                </div>
                <div class="custom-form-container">
                    <button type="button" class="ingredientAction" aria-label="เพิ่มวัตถุดิบ">
                        <i class='bx bx-plus-medical'></i>
                    </button>
                </div>
            `;

                fieldsContainer.appendChild(newRow);

                newRow.querySelector('select[name="name_ingredient"]').addEventListener('change', function () {
                    const selectedOption = this.options[this.selectedIndex];
                    const quantity = selectedOption.getAttribute('data-quantity');
                    const unit = selectedOption.getAttribute('data-unit');

                    newRow.querySelector('input[name="quantity"]').value = quantity;
                    newRow.querySelector('input[name="setting_unit_id"]').value = unit;

                    updateSelectOptions();
                });

                updateSelectOptions();
            }

            function removeIngredientHandler(button) {
                const rowToRemove = button.closest('.custom-form-row');
                rowToRemove.remove();
                updateSelectOptions();
            }

            updateSelectOptions();
        });
    </script>
</body>