<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS</title>

    <!-- Box Icons  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Styles  -->
    <link rel="shortcut icon" href="img/kxp_fav.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/employee_view.css">
</head>

<body>
    <div class="sidebar close">
        <!-- ========== Logo ============  -->
        <a href="#" class="logo-box">
            <i class='bx bxs-cat'></i>
            <div class="logo-name">POS</div>
        </a>

        <!-- ========== List ============  -->

        <ul class="sidebar-list">

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="/" class="link">
                        <i class='bx bx-home'></i>
                        <span class="name">หน้าหลัก</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="/" class="link submenu-title">หน้าหลัก</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <% if (permissions && permissions.dashboard.dashboard_read==='Y' ) { %>
                <li>
                    <div class="title">
                        <a href="/dashboard" class="link">
                            <i class='bx bx-grid-alt'></i>
                            <span class="name">แดชบอร์ด</span>
                        </a>
                        <!-- <i class='bx bxs-chevron-down'></i> -->
                    </div>
                    <div class="submenu">
                        <a href="/dashboard" class="link submenu-title">แดชบอร์ด</a>
                        <!-- submenu links here  -->
                    </div>
                </li>
                <% } %>


            <!-- -------- Dropdown List Item ------- -->
            <% if (permissions && permissions.employee.employee_read==='Y' ) { %>
                <li class="dropdown">
                    <div class="title">
                        <a href="/employee" class="link">
                            <i class='bx bx-collection'></i>
                            <span class="name">ข้อมูลพนักงาน</span>
                        </a>
                        <i class='bx bxs-chevron-down'></i>
                    </div>
                    <div class="submenu">
                        <a href="/employee" class="link submenu-title">ข้อมูลพนักงาน</a>
                        <a href="/employee" class="link">พนักงาน</a>
                        <a href="/user" class="link">ผู้ใช้งาน</a>
                        <a href="/permission" class="link">สิทธิ์ผู้ใช้งาน</a>
                    </div>
                </li>
                <% } %>

            <!-- -------- Dropdown List Item ------- -->
            <% if (permissions && permissions.menu.menu_read==='Y' ) { %>
                <li class="dropdown">
                    <div class="title">
                        <a href="/menu" class="link">
                            <i class='bx bxs-food-menu'></i>
                            <span class="name">เมนูอาหารและบริการ</span>
                        </a>
                        <i class='bx bxs-chevron-down'></i>
                    </div>
                    <div class="submenu">
                        <a href="/menu" class="link submenu-title">เมนูอาหารและบริการ</a>
                        <a href="/menu" class="link">เมนูอาหาร</a>
                        <a href="/setting_menu_category" class="link">ตั้งค่าหมวดหมู่</a>
                        <a href="/setting_menu_type" class="link">ตั้งค่าประเภท</a>
                        <a href="/setting_menu_unit" class="link">ตั้งค่าหน่วยสินค้า</a>
                    </div>
                </li>
                <% } %>

            <!-- -------- Non Dropdown List Item ------- -->
            <% if (permissions && permissions.table.table_read==='Y' ) { %>
                <li class="dropdown">
                    <div class="title">
                        <a href="table" class="link">
                            <i class='bx bx-table'></i>
                            <span class="name">โต๊ะอาหาร</span>
                        </a>
                        <i class='bx bxs-chevron-down'></i>
                    </div>
                    <div class="submenu">
                        <a href="/table" class="link submenu-title">โต๊ะอาหาร</a>
                        <a href="/table" class="link">จัดโต๊ะอาหาร</a>
                        <a href="/view_bill" class="link">บิลอาหาร</a>
                    </div>
                </li>
                <% } %>

            <!-- -------- Non Dropdown List Item ------- -->
            <% if (permissions && permissions.buying.buying_read==='Y' ) { %>
                <li class="dropdown">
                    <div class="title">
                        <a href="/buying" class="link">
                            <i class='bx bx-cart-download'></i>
                            <span class="name">รายการจัดซื้อและคงคลัง</span>
                        </a>
                        <i class='bx bxs-chevron-down'></i>
                    </div>
                    <div class="submenu">
                        <a href="/buying" class="link submenu-title">รายการจัดซื้อและคงคลัง</a>
                        <a href="/buying" class="link">รายการจัดซื้อ</a>
                        <a href="/warehouse" class="link">คงคลัง</a>
                        <a href="/setting_type" class="link">ตั้งค่าประเภท</a>
                        <a href="/setting_unit" class="link">ตั้งค่าปริมาณ</a>
                    </div>
                </li>    
                <% } %>

            <!-- -------- Non Dropdown List Item ------- -->
            <% if (permissions && permissions.promotion.promotion_read==='Y' ) {
                %>
                <li>
                    <div class="title">
                        <a href="/promotion" class="link">
                            <i class='bx bxs-dollar-circle'></i>
                            <span class="name">โปรโมชั่น</span>
                        </a>
                        <!-- <i class='bx bxs-chevron-down'></i> -->
                    </div>
                    <div class="submenu">
                        <a href="/promotion" class="link submenu-title">โปรโมชั่น</a>
                        <!-- submenu links here  -->
                    </div>
                </li>
            </ul>
                <% } %>
        </ul>
    </div>

    <!-- ============= Home Section =============== -->
    <section class="home">
        <div class="nav">
            <div class="toggle-sidebar">
                <i class='bx bx-menu'></i>
            </div>
            <nav>
                <div class="nav-content">
                    <div class="profile-details">
                        <% if (user) { %>
                            <img src="../img/chef.png" alt="" class="profile-image">
                            <span class="user-id">ID: <%= user.tbl_employees %></span>
                        </div>
                        <a href="/logout" class="auth-link">Logout</a>
                        <% } else { %>
                            <a href="/login" class="auth-link">เข้าสู่ระบบ</a>
                        <% } %>
                </div>
            </nav>
        </div>

        <!-- ============= Top Dashboard =============== -->
         
        <div class="breadcrumbs">
            <a href="/">หน้าหลัก</a> > <a href="/employee">พนักงาน</a> > <a href="/view_employee/<%= employee.employee_id %>">ดูข้อมูลพนักงาน</a> > <span>แก้ไขข้อมูลพนักงาน</span>        </div>
        <div class="topic"><a href="javascript:history.back()" style="text-decoration: none;">
                    <i class='bx bx-left-arrow-alt'></i></a> แก้ไขข้อมูลพนักงาน</div>

        <!-- ============= Center Dashboard =============== -->
        <div class="centered-content">
            <div class="form-container">
                <form action="/update_employee" method="post">
                    <div class="form-group">
                        <h2>ข้อมูลส่วนตัว</h2>
                        <hr class="underline">
                        <div class="form-container">
                            <label for="employee_id">รหัสพนักงาน</label>
                            <input type="text" id="employee_id" name="employee_id" value="<%= employee.employee_id %>"
                                required aria-label="รหัสพนักงาน" readonly>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="title">คำนำหน้า</label>
                                <select id="title" name="title" required aria-label="คำนำหน้า">
                                    <option value="นาย" <%=employee.title==='นาย' ? 'selected' : '' %>>นาย</option>
                                    <option value="นาง" <%=employee.title==='นาง' ? 'selected' : '' %>>นาง</option>
                                    <option value="นางสาว" <%=employee.title==='นางสาว' ? 'selected' : '' %>>นางสาว
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="first_name">ชื่อ</label>
                                <input type="text" id="first_name" name="first_name" value="<%= employee.first_name %>"
                                    required aria-label="ชื่อ">
                            </div>

                            <div class="form-group">
                                <label for="last_name">นามสกุล</label>
                                <input type="text" id="last_name" name="last_name" value="<%= employee.last_name %>"
                                    required aria-label="นามสกุล">
                            </div>

                            <div class="form-group">
                                <label for="nickname">ชื่อเล่น</label>
                                <input type="text" id="nickname" name="nickname" value="<%= employee.nickname %>"
                                    required aria-label="ชื่อเล่น">
                            </div>
                        </div>
                        <% if (error) { %>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="id_number">เลขบัตรประชาชน</label>
                                <input type="text" id="id_number" name="id_number" value="<%= employee.id_number %>"
                                    required aria-label="เลขบัตรประชาชน" maxlength="13" oninput="validateIdNumber()">
                                <div id="charCount">0/13</div>
                                <div id="errorMessage" style="color: red;"></div>
                                <% if (error.id_number) { %>
                                    <p style="color: red;">
                                        <%= error.id_number %>มีอยู่แล้ว
                                    </p>
                                <% } %>
                            </div>
                                
                            <div class="form-group">
                                <label for="date_of_birth">วันเกิด</label>
                                <input type="date" id="date_of_birth" name="date_of_birth"
                                    value="<%= employee.date_of_birth %>" required aria-label="วันเกิด">
                            </div>
                        </div>

                        <h2>ข้อมูลสำหรับติดต่อ</h2>
                        <hr class="underline">

                        <label for="phone_number">เบอร์โทรศัพท์</label>
                        <input type="text" id="phone_number" name="phone_number" 
                            value="<%= employee.phone_number %>" 
                            required aria-label="เบอร์โทรศัพท์" 
                            maxlength="12" 
                            oninput="formatPhoneNumber(this)">
                        <div id="phoneErrorMessage" style="color: red;"></div>
                        <% if (error && error.phone_number) { %>
                            <p style="color: red;">
                                <%= error.phone_number %>มีอยู่แล้ว
                            </p>
                        <% } %>

                        <label for="email">อีเมล</label>
                        <input type="email" id="email" name="email" value="<%= employee.email %>" required
                            aria-label="อีเมล">

                        <label for="other_contact">ข้อมูลติดต่ออื่น ๆ</label>
                        <textarea id="other_contact" name="other" aria-label="ข้อมูลติดต่ออื่นๆ" rows="2"
                            style="width: 100%;"><%= employee.other %></textarea>
                    </div>
                    <% } %>

                    <% if (permissions.employee.employee_update === 'Y') { %>
                        <button type="submit">บันทึกการเปลี่ยนแปลง</button> <!-- Updated button -->
                    <% } %>                    
                </form>
            </div>
        </div>
    </section>

    <!-- Link JS -->
    <script src="../js/index.js"></script>

    <script>
        function formatPhoneNumber(input) {
            // ลบตัวอักษรที่ไม่ใช่ตัวเลขออก
            let number = input.value.replace(/\D/g, '');
            
            // จัดรูปแบบเบอร์โทรศัพท์
            if (number.length > 3 && number.length <= 6) {
                number = number.slice(0, 3) + '-' + number.slice(3);
            } else if (number.length > 6) {
                number = number.slice(0, 3) + '-' + number.slice(3, 6) + '-' + number.slice(6, 10);
            }
            
            // กำหนดค่าใหม่ให้กับ input
            input.value = number;
        
            // ตรวจสอบความถูกต้องของเบอร์โทรศัพท์
            validatePhoneNumber();
        }
        
        function validatePhoneNumber() {
            const phoneNumber = document.getElementById('phone_number').value;
            const phoneErrorMessage = document.getElementById('phoneErrorMessage');
            const phonePattern = /^\d{3}-\d{3}-\d{4}$/;
        
            if (!phonePattern.test(phoneNumber)) {
                phoneErrorMessage.textContent = 'กรุณากรอกเบอร์โทรศัพท์ให้ถูกต้อง (000-000-0000)';
            } else {
                phoneErrorMessage.textContent = '';
            }
        }
    </script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const dateOfBirthInput = document.getElementById('date_of_birth');
            const today = new Date().toISOString().split('T')[0];
            dateOfBirthInput.setAttribute('max', today);
        });
    </script>
    <script>
        function validateIdNumber() {
            const idNumberInput = document.getElementById('id_number');
            const charCount = document.getElementById('charCount');
            const errorMessage = document.getElementById('errorMessage');
    
            // กรองเฉพาะตัวเลข
            idNumberInput.value = idNumberInput.value.replace(/\D/g, '');
    
            // อัปเดตจำนวนตัวอักษร
            charCount.textContent = `${idNumberInput.value.length}/13`;
    
            // ตรวจสอบความยาวของเลขบัตรประชาชน
            if (idNumberInput.value.length > 13) {
                errorMessage.textContent = 'เลขบัตรประชาชนต้องไม่เกิน 13 ตัว';
            } else {
                errorMessage.textContent = '';
            }
        }
    
        // เรียกใช้ฟังก์ชันเมื่อโหลดหน้า
        document.addEventListener('DOMContentLoaded', function() {
            validateIdNumber();
        });
    </script>
</body>

</html>