<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS</title>

    <!-- Box Icons  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Styles  -->
    <link rel="shortcut icon" href="img/kxp_fav.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/menu_view.css">
</head>

<body>
    <div class="sidebar close">
        <!-- ========== Logo ============  -->
        <a href="#" class="logo-box">
            <i class='bx bxs-cat'></i>
            <div class="logo-name">POS</div>
        </a>

        <!-- ========== List ============  -->

        <ul class="sidebar-list">

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="/" class="link">
                        <i class='bx bx-home'></i>
                        <span class="name">หน้าหลัก</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="/" class="link submenu-title">หน้าหลัก</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="/dashboard" class="link">
                        <i class='bx bx-grid-alt'></i>
                        <span class="name">แดชบอร์ด</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="/dashboard" class="link submenu-title">แดชบอร์ด</a>
                    <!-- submenu links here  -->
                </div>
            </li>



            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="/employee" class="link">
                        <i class='bx bx-collection'></i>
                        <span class="name">ข้อมูลพนักงาน</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="/employee" class="link submenu-title">ข้อมูลพนักงาน</a>
                    <a href="/employee" class="link">พนักงาน</a>
                    <a href="/user" class="link">ผู้ใช้งาน</a>
                    <a href="/permission" class="link">สิทธิ์ผู้ใช้งาน</a>
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="/menu" class="link">
                        <i class='bx bxs-food-menu'></i>
                        <span class="name">เมนูอาหารและบริการ</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="/menu" class="link submenu-title">เมนูอาหารและบริการ</a>
                    <a href="/menu" class="link">เมนูอาหาร</a>
                    <a href="#" class="link">ตั้งค่าหมวดหมู่</a>
                    <a href="#" class="link">ตั้งค่าหน่วยสินค้า</a>
                    <a href="#" class="link">ตั้งค่าประเภท</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="/table" class="link">
                        <i class='bx bx-table'></i>
                        <span class="name">โต๊ะอาหาร</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="/table" class="link submenu-title">โต๊ะอาหาร</a>
                    <a href="/table" class="link">จัดโต๊ะอาหาร</a>
                    <a href="#" class="link">สั่งเมนู</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="/buying" class="link">
                        <i class='bx bx-cart-download'></i>
                        <span class="name">รายการจัดซื้อและคงคลัง</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="/buying" class="link submenu-title">รายการจัดซื้อและคงคลัง</a>
                    <a href="/buying" class="link">รายการจัดซื้อ</a>
                    <a href="#" class="link">คงคลัง</a>
                    <a href="#" class="link">ตั้งค่าประเภท</a>
                    <a href="#" class="link">ตั้งค่าปริมาณ</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="/promotion" class="link">
                        <i class='bx bxs-dollar-circle'></i>
                        <span class="name">โปรโมชั่น</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="/promotion" class="link submenu-title">โปรโมชั่น</a>
                    <!-- submenu links here  -->
                </div>
            </li>
        </ul>
    </div>

    <!-- ============= Home Section =============== -->
    <section class="home">
        <div class="nav">
            <div class="toggle-sidebar">
                <i class='bx bx-menu'></i>
            </div>
            <nav>
                <div class="nav-content">
                    <div class="profile-details">
                        <img src="../img/chef.png" alt="" class="profile-image">
                        <span class="user-id">ID1234</span>
                    </div>
                    <a href="/login" class="auth-link">เข้าสู่ระบบ</a>
                </div>
            </nav>
        </div>

        <!-- ============= Top Dashboard =============== -->

        <div class="breadcrumbs">
            <a href="/dashboard"> หน้าหลัก</a> > <a href="/menu">เมนูอาหารและบริการ</a> > <span>ดูข้อมูลเมนู</span>
        </div>
        <div class="topic"><a href="javascript:history.back()" style="text-decoration: none;">
                <i class='bx bx-left-arrow-alt'></i></a> ดูข้อมูลเมนู</div>

        <div class="topic">ดูข้อมูลเมนู</div>

        <!-- ============= Center Dashboard =============== -->

        <div class="centered-content">
            <div class="form-container">
                <div class="form-group">
                    <h2>ข้อมูลเมนูอาหาร</h2>
                    <hr class="underline">
                    <div class="flex-container">
                        <!-- Container for specified fields -->
                        <div class="fields-container">
                            <!-- Row 1: ชื่อสินค้า -->
                            <div class="form-row">
                                <div class="form-container">
                                    <label for="name_product">ชื่อสินค้า</label>
                                    <input type="text" id="name_product" value="<%= menu.name_product %>" readonly>
                                </div>
                            </div>
                            <!-- Row 2: รหัสสินค้า, ประเภทสินค้า -->
                            <div class="form-row">
                                <div class="form-container">
                                    <label for="id_menu">รหัสสินค้า</label>
                                    <input type="text" id="id_menu" value="<%= menu.id_menu %>" readonly>
                                </div>
                                <div class="form-container">
                                    <label for="settingType">ประเภทสินค้า</label>
                                    <input type="text" id="settingType" value="<%= menu.menu_type %>" readonly>
                                </div>
                                <div class="form-container">
                                    <label for="settingCategory">หมวดหมู่สินค้า</label>
                                    <input type="text" id="settingCategory" value="<%= menu.menu_category %>" readonly>
                                </div>
                            </div>
                            <!-- Row 3: ราคา, หน่วยการใช้, สถานะ -->
                            <div class="form-row">
                                <div class="form-container">
                                    <label for="price">ราคา</label>
                                    <input type="text" id="price" value="<%= menu.price %>" readonly>
                                </div>
                                <div class="form-container">
                                    <label for="settingUnit">หน่วยสินค้า</label>
                                    <input type="text" id="settingUnit" value="<%= menu.menu_unit %>" readonly>
                                </div>
                                <div class="form-container">
                                    <label for="status">สถานะ</label>
                                    <input type="text" id="status"
                                        value="<%= menu.status === 'ON' ? 'เปิดใช้งาน' : 'ปิดใช้งาน' %>" readonly>
                                </div>
                            </div>
                        </div>
                        <!-- Image Display -->
                        <div class="form-image-upload">
                            <label for="menu_image" id="label_menu_image">รูปภาพสินค้า</label>
                            <div id="image_container" style="position: relative;">
                                <img id="preview" src="../img/<%= menu.menu_picture %>" alt="">
                            </div>
                        </div>
                    </div>

                    <!-- ปริมาณของวัตถุดิบ -->
                    <div class="split-container">
                        <div class="left-section">
                            <h2>ปริมาณของวัตถุดิบ</h2>
                            <hr class="underline">
                            <div class="custom-flex-container">
                                <div class="custom-fields-container" id="fieldsContainer">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>ชื่อวัตถุดิบ</th>
                                                <th>ปริมาณ</th>
                                                <th>หน่วยการใช้</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% menu.ingredients.forEach(ingredient => { %>
                                                <tr>
                                                    <td><input type="text" id="name_ingredient" class="short-input" value="<%= ingredient.name_ingredient %>" readonly></td>
                                                    <td><input type="text" id="quantity" class="short-input" value="<%= ingredient.unit_quantity %>" readonly></td>
                                                    <td><input type="text" id="setting_unit_id" class="short-input" value="<%= ingredient.unit_id %>" readonly></td>
                                                </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <div class="right-section">
                            <div class="header-container">
                                <h2 class="header-title">เพิ่มเติม(ไม่บังคับ)</h2>
                            </div>
                            <hr class="underline">
                            <% if (Object.keys(groupedMenuOptions).length > 0) { %>
                                <table class="custom-table">
                                    <thead>
                                        <tr>
                                            <th class="center-align">ชื่อหมวดหมู่เพิ่มเติม</th>
                                            <th class="center-align">ราคา</th>
                                            <th>ชื่อวัตถุดิบ</th>
                                            <th>ปริมาณวัตถุดิบ</th>
                                            <th>หน่วยวัตถุดิบ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% Object.keys(groupedMenuOptions).forEach(name_options => { %>
                                            <% 
                                                // Calculate the maximum price for the current category
                                                const maxPrice = Math.max(...groupedMenuOptions[name_options].map(option => option.price));
                                            %>
                                            <% groupedMenuOptions[name_options].forEach((option, index) => { %>
                                                <tr>
                                                    <% if (index === 0) { %>
                                                        <td class="center-align" rowspan="<%= groupedMenuOptions[name_options].length %>"><%= name_options %></td>
                                                        <td class="center-align" rowspan="<%= groupedMenuOptions[name_options].length %>"><%= maxPrice %></td>
                                                    <% } %>
                                                    <td><%= option.name_ingredient_menu_options %></td>
                                                    <td><%= option.unit_quantity_menu_options %></td>
                                                    <td><%= option.unit_id_menu_options %></td>
                                                </tr>
                                            <% }); %>
                                        <% }); %>
                                    </tbody>
                                </table>
                            <% } else { %>
                                <p>ไม่มีหมวดหมู่เพิ่มเติม</p>
                            <% } %>
                        </div>
                    </div>

                    <a href="/edit_menu/<%= menu.id_menu %>" class="edit-button">แก้ไข</a>
                </div>
            </div>
        </div>
    </section>

    <script src="../js/index.js"></script>
    <script src="../js/menu_add_image.js"></script>
</body>